<div class="centered-content">
    <div class="login-box">
        <h1 class="title has-text-primary">Log in to Fantasker</h1>
        <div class="field">
            <p class="control has-icons-left has-icons-right">
              <input #emailInput class="input has-background-light" type="email" placeholder="Email">
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <input #pwInput class="input has-background-light" type="password" placeholder="Password">
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>
          <div class="field is-pulled-right">
            <p class="control">
              <button class="button is-success has-text-white" (click)="onLoginButtonClicked(emailInput.value, pwInput.value)">
                Login
              </button>
            </p>
          </div>
          <div class="field">
            <div class="control">
              <label>
                Made with ❤️ &nbsp; by <a href="https://github.com/KevinApodaca">Kevin Apodaca</a> &nbsp;<i class="fa fa-github"></i>
              </label>
            </div>
          </div>
    </div>
    
</div>