/* Global styles and variables */

@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Nunito:400,700');

/* Colors */
$turquoise: #44ddd0;
$green: #27d7a1;
$light-green: #45f69e;
$dark-green: rgb(0,100,80);

$light: #f8f8f8;

/* Bulma global vars */
$family-sans-serif: "Nunito", sans-serif;
$primary: $green;
$link: $light-green;

/* Bulma component vars */
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

/* Global styles */

html {
    background: linear-gradient(to right top, $turquoise, $green);
}

html, body {
    height: 100%;
}