/* Global styles and variables */

@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Nunito:400,700');

/* Colors */
$skyblue: #00B4DB;
$blue: #0083B0;
$light-green: #45f69e;
$dark-green: rgb(0,100,80);

$light: #f8f8f8;

/* Bulma global vars */
$family-sans-serif: "Nunito", sans-serif;
$primary: $blue;
$link: $light-green;

/* Bulma component vars */
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

/* Global styles */

html {
    background: linear-gradient(to right top, $skyblue, $blue);
}

html, body {
    height: 100%;
}

.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.modal-box {
    min-height: 200px;
    width: 100%;
    max-width: 580px;
    background: white;
    border-radius: 8px;
    padding: 35px;

}

.title {
    font-family: 'Lato';
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;

}

.button.is-primary {
    background-color: $skyblue;

    &:hover {
        background-color: $blue;
    }
}

.button.is-success {
    background-color: $skyblue;

    &:hover {
        background-color: $blue;
    }
}

.has-text-primary {
    color: $skyblue !important;
}