<div class="centered-content">
    <div class="task-manager-container">

        <div class="sidebar has-background-white">
            <h1 class="title has-text-primary">
                <i class="fas fa-bars"></i>
                Lists
            </h1>

            <div class="list-menu">
                <a class="list-menu-item" *ngFor="let list of lists" [routerLink]="['/lists', list._id]" routerLinkActive="is-active">
                    <p>{{ list.title }}</p>
                </a>
            </div>
            <button class="button is-primary has-text-white" routerLink="/new-list">+ New List</button>
        </div>

        <div class="task-list-container has-background-light">
            <div *ngIf="tasks">
                <h1 class="title has-text-primary">
                    <i class="fas fa-tasks"></i>
                    Tasks
                </h1>
    
                <!-- Task Elements -->
                <div class="task" *ngFor="let task of tasks" (click)="onTaskClick(task)" [ngClass]="{ 'completed': task.completed }"> 
                    <p> {{ task.title }}</p>
                </div>

                <h3 class="empty-state-text" *ngIf="tasks.length === 0">This list has no tasks, click the button to add one!</h3>
    
                <button routerLink="./new-task" class="button circle-add-button is-primary">
                    <img src="../../../assets/plus.svg" alt="Plus Icon" >
                </button>
            </div>

            <div *ngIf="!tasks">
                <h3 class="empty-state-text">Select a list from the sidebar!</h3>
            </div>
        </div>
    </div>
</div>