@import '../../../main-styles.scss';

.task-manager-container {
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 1000px;
    max-height: 600px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 250px;
    background: white;
    padding: 42px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.task-list-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 42px;
    position: relative;
}

.title {
    font-family: 'Lato';
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;

}

.list-menu {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    flex-grow: 1;

    .list-menu-item {
        display: flex;
        align-items: center;
        padding: 10px 15px;
        border-radius: 5px;
        width: 100px;
        color: #5f5f5f;
        margin-bottom: 5px;

        &:hover {
            background: $light;
        }

        &.is-active {
            background-color: #cff8ef;
            color: $dark-green;

        }

    }

}

.task {
    background: white;
    padding: 15px 20px;
    border-radius: 5px;
    margin-top: 10px;

    &:not(.completed) {

        cursor: pointer;
        transition: 0.2s ease, transform 0.2s ease;
        
        &:active {
            transform: scale(0.95);
        }
    
        &:hover {
            box-shadow: 0 0 0 5px #eeeeee;
    
        }

    }

    &.completed {
        text-decoration: line-through;
        opacity: 80%;
    }
}

.circle-add-button {
    position: absolute;
    right: 35px;
    bottom: 35px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}